extends ../layouts/default
block content
  - var currentYear = new Date().getFullYear();
  - var currentMonth = new Date().getMonth()+1;
  - var monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio","Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
  - var contentMonth = ["noticiaEn", "noticiaFeb", "noticaMar", "noticiaAbr", "noticiaMay", "noticiaJun","noticiaJul", "noticiaAgo", "noticiaSept", "noticiaOct", "noticiaNov", "noticiaDic"];
  section#top-banner.commercial
    if(salud)
    .bannerComercial
      .bannerComercial-text
        h1 #{salud[0].title}
        span #{salud[0].description}
      img(src=salud[0].imgBanner.secure_url alt=salud[0].title)
  section#salud-wrapper
    nav.nav-salud
      span.currentYear #{currentYear}
      - if( locals.data.noticiaEn != ''){
        a(href="#month-1") Enero
      -}else{
        a(href="#month-1").inactive Enero
      -}
      
      - if( locals.data.noticiaFeb != ''){
        a(href="#month-2") Febrero
      -}else{
        a(href="#month-2").inactive Febrero

      - }
      - if( locals.data.noticiaMar != ''){
        a(href="#month-3") Marzo
      -}else{
        a(href="#month-3").inactive Marzo
      - }
      - if( locals.data.noticiaAbr != ''){
        a(href="#month-4") Abril
      - }else{
        a(href="#month-4").inactive Abril
      - }
      - if( locals.data.noticiaMay != ''){
        a(href="#month-5") Mayo
      -}else{
        a(href="#month-5").inactive Mayo  
      - }
      - if( locals.data.noticiaJun != ''){
        a(href="#month-6") Junio
      -}else{
        a(href="#month-6").inactive Junio
      - }
      - if( locals.data.noticiaJul != ''){
        a(href="#month-7") Julio
      -}else{
        a(href="#month-7").inactive Julio
      - }
      - if( locals.data.noticiaAgo != ''){
        a(href="#month-8") Agosto  
      -}else{
        a(href="#month-8").inactive Agosto  
      - }
      - if( locals.data.noticiaSept != ''){
        a(href="#month-9") Septiembre
      -}else{
        a(href="#month-9").inactive Septiembre
      - }
      - if( locals.data.noticiaOct != ''){
        a(href="#month-10") Octubre
      -}else{
        a(href="#month-10").inactive Octubre
      - }
      - if( locals.data.noticiaNov != ''){
        a(href="#month-11") Noviembre
      -}else{
        a(href="#month-11").inactive Noviembre
      - }
      - if( locals.data.noticiaDic != ''){
        a(href="#month-12") Diciembre  
      -}else{
        a(href="#month-12").inactive Diciembre  
      - }
      
    section#salud-box-wrapper
      //- Noticia diciembre
      -if(locals.data.noticiaDic != '')
        div.salud-box
          div.column-right-salud.col-md-3.cold-sm-3.col-xs-12.nopadding
            h4#month-12 Diciembre
            span #{currentYear}
           
          div.column-left-salud.col-md-9.col-sm-12.col-xs-12
            each item in locals.data.noticiaDic
              div.col-md-4.col-sm-12.col-xs-12.nopadding.salud-preview-box
                a(href="/salud-al-dia/"+item.slug+item.slug target="_blank")
                  .salud-preview-media
                    //- - if((item.urlVideoYoutube != '')&& (item.urlVideoVimeo != ''))
                      .box-news-icon-play
                    img(src=item.imgPromo.secure_url alt=item.title)
                  .salud-preview-box-content
                    span.salud-preview-box-fecha #{moment.locale('es')&&moment(item.createdAt).format("LL")}
                    h6 #{item.title}
                    .preview-box-content-tex
                      p  #{item.description}

      //  NOTICIAS Noviembre
      - if(locals.data.noticiaNov != '')
        div.salud-box
          div.column-right-salud.col-md-3.cold-sm-3.col-xs-12.nopadding
          
            h4#month-11 Noviembre
            span #{currentYear}
            
          div.column-left-salud.col-md-9.col-sm-12.col-xs-12  
            each item in locals.data.noticiaNov
              div.col-md-4.col-sm-12.col-xs-12.nopadding.salud-preview-box
                a(href="/salud-al-dia/"+item.slug+item.slug target="_blank")
                  .salud-preview-media
                    //- - if((item.urlVideoYoutube != '')&& (item.urlVideoVimeo != ''))
                      .box-news-icon-play
                    img(src=item.imgPromo.secure_url alt=item.title)
                  .salud-preview-box-content
                    span.salud-preview-box-fecha #{moment.locale('es')&&moment(item.createdAt).format("LL")}
                    h6 #{item.title}
                    .preview-box-content-tex
                      p  #{item.description}
        
      //  NOTICIAS Octubre
      - if(locals.data.noticiaOct!= '')
        div.salud-box
          div.column-right-salud.col-md-3.cold-sm-3.col-xs-12.nopadding
            
            h4#month-10 Ocubre
            span #{currentYear}
            
          div.column-left-salud.col-md-9.col-sm-12.col-xs-12
            each item in locals.data.noticiaOct
              div.col-md-4.col-sm-12.col-xs-12.nopadding.salud-preview-box
                a(href="/salud-al-dia/"+item.slug+item.slug target="_blank")
                  .salud-preview-media
                    //- - if((item.urlVideoYoutube != '')&& (item.urlVideoVimeo != ''))
                      .box-news-icon-play
                    img(src=item.imgPromo.secure_url alt=item.title)
                  .salud-preview-box-content
                    span.salud-preview-box-fecha #{moment.locale('es')&&moment(item.createdAt).format("LL")}
                    h6 #{item.title}
                    .preview-box-content-tex
                      p  #{item.description}
      //  NOTICIAS Septiembre
      - if(locals.data.noticiaSept!= '')
        div.salud-box
          div.column-right-salud.col-md-3.cold-sm-3.col-xs-12.nopadding
            
            h4#month-9 Septiembre
            span #{currentYear}
            
          div.column-left-salud.col-md-9.col-sm-12.col-xs-12
            each item in locals.data.noticiaSept
              div.col-md-4.col-sm-12.col-xs-12.nopadding.salud-preview-box
                a(href="/salud-al-dia/"+item.slug+item.slug target="_blank")
                  .salud-preview-media
                    //- - if((item.urlVideoYoutube != '')&& (item.urlVideoVimeo != ''))
                      .box-news-icon-play
                    img(src=item.imgPromo.secure_url alt=item.title)
                  .salud-preview-box-content
                    span.salud-preview-box-fecha #{moment.locale('es')&&moment(item.createdAt).format("LL")}
                    h6 #{item.title}
                    .preview-box-content-tex
                      p  #{item.description}
      //  NOTICIAS Agosto
      - if(locals.data.noticiaAgo!= '')
        div.salud-box
          div.column-right-salud.col-md-3.cold-sm-3.col-xs-12.nopadding
            
            h4#month-9 Septiembre
            span #{currentYear}
            
          div.column-left-salud.col-md-9.col-sm-12.col-xs-12
            each item in locals.data.noticiaAgo
              div.col-md-4.col-sm-12.col-xs-12.nopadding.salud-preview-box
                a(href="/salud-al-dia/"+item.slug+item.slug target="_blank")
                  .salud-preview-media
                    //- - if((item.urlVideoYoutube != '')&& (item.urlVideoVimeo != ''))
                      .box-news-icon-play
                    img(src=item.imgPromo.secure_url alt=item.title)
                  .salud-preview-box-content
                    span.salud-preview-box-fecha #{moment.locale('es')&&moment(item.createdAt).format("LL")}
                    h6 #{item.title}
                    .preview-box-content-tex
                      p  #{item.description}
      //  NOTICIAS Julio
      - if(locals.data.noticiaJul!= '')
        div.salud-box
          div.column-right-salud.col-md-3.cold-sm-3.col-xs-12.nopadding
            
            h4#month-9 Septiembre
            span #{currentYear}
            
          div.column-left-salud.col-md-9.col-sm-12.col-xs-12
            each item in locals.data.noticiaJul
              div.col-md-4.col-sm-12.col-xs-12.nopadding.salud-preview-box
                a(href="/salud-al-dia/"+item.slug+item.slug target="_blank")
                  .salud-preview-media
                    //- - if((item.urlVideoYoutube != '')&& (item.urlVideoVimeo != ''))
                      .box-news-icon-play
                    img(src=item.imgPromo.secure_url alt=item.title)
                  .salud-preview-box-content
                    span.salud-preview-box-fecha #{moment.locale('es')&&moment(item.createdAt).format("LL")}
                    h6 #{item.title}
                    .preview-box-content-tex
                      p  #{item.description}
                                          
      //  NOTICIAS Junio
      - if(locals.data.noticiaJun != '')
        div.salud-box
          div.column-right-salud.col-md-3.cold-sm-3.col-xs-12.nopadding
            
            h4#month-6 Junio
            span #{currentYear}
            
          div.column-left-salud.col-md-9.col-sm-12.col-xs-12

            each item in locals.data.noticiaJun
              div.col-md-4.col-sm-12.col-xs-12.nopadding.salud-preview-box
                a(href="/salud-al-dia/"+item.slug target="_blank")
                  .salud-preview-media
                    //- - if((item.urlVideoYoutube != '')&& (item.urlVideoVimeo != ''))
                      .box-news-icon-play
                    img(src=item.imgPromo.secure_url alt=item.title)
                  .salud-preview-box-content
                    span.salud-preview-box-fecha #{moment.locale('es')&&moment(item.createdAt).format("LL")}
                    h6 #{item.title}
                    .preview-box-content-tex
                      p  #{item.description}

      //  NOTICIAS Mayo
      - if(locals.data.noticiaMay != '')
        div.salud-box
          div.column-right-salud.col-md-3.cold-sm-3.col-xs-12.nopadding
            
            h4#month-6 Junio
            span #{currentYear}
            
          div.column-left-salud.col-md-9.col-sm-12.col-xs-12

            each item in locals.data.noticiaMay
              div.col-md-4.col-sm-12.col-xs-12.nopadding.salud-preview-box
                a(href="/salud-al-dia/"+item.slug target="_blank")
                  .salud-preview-media
                    //- - if((item.urlVideoYoutube != '')&& (item.urlVideoVimeo != ''))
                      .box-news-icon-play
                    img(src=item.imgPromo.secure_url alt=item.title)
                  .salud-preview-box-content
                    span.salud-preview-box-fecha #{moment.locale('es')&&moment(item.createdAt).format("LL")}
                    h6 #{item.title}
                    .preview-box-content-tex
                      p  #{item.description}
                      
      //  NOTICIAS Abril
      - if(locals.data.noticiaAbr != '')
        div.salud-box
          div.column-right-salud.col-md-3.cold-sm-3.col-xs-12.nopadding
            
            h4#month-6 Junio
            span #{currentYear}
            
          div.column-left-salud.col-md-9.col-sm-12.col-xs-12

            each item in locals.data.noticiaAbr
              div.col-md-4.col-sm-12.col-xs-12.nopadding.salud-preview-box
                a(href="/salud-al-dia/"+item.slug target="_blank")
                  .salud-preview-media
                    //- - if((item.urlVideoYoutube != '')&& (item.urlVideoVimeo != ''))
                      .box-news-icon-play
                    img(src=item.imgPromo.secure_url alt=item.title)
                  .salud-preview-box-content
                    span.salud-preview-box-fecha #{moment.locale('es')&&moment(item.createdAt).format("LL")}
                    h6 #{item.title}
                    .preview-box-content-tex
                      p  #{item.description}
      //  NOTICIAS Marzo
      - if(locals.data.noticaMar != '')
        div.salud-box
          div.column-right-salud.col-md-3.cold-sm-3.col-xs-12.nopadding
            
            h4#month-6 Junio
            span #{currentYear}
            
          div.column-left-salud.col-md-9.col-sm-12.col-xs-12

            each item in locals.data.noticaMar
              div.col-md-4.col-sm-12.col-xs-12.nopadding.salud-preview-box
                a(href="/salud-al-dia/"+item.slug target="_blank")
                  .salud-preview-media
                    //- - if((item.urlVideoYoutube != '')&& (item.urlVideoVimeo != ''))
                      .box-news-icon-play
                    img(src=item.imgPromo.secure_url alt=item.title)
                  .salud-preview-box-content
                    span.salud-preview-box-fecha #{moment.locale('es')&&moment(item.createdAt).format("LL")}
                    h6 #{item.title}
                    .preview-box-content-tex
                      p  #{item.description}
                      
      //  NOTICIAS Febrero
      - if(locals.data.noticiaFeb != '')
        div.salud-box
          div.column-right-salud.col-md-3.cold-sm-3.col-xs-12.nopadding
            
            h4#month-6 Junio
            span #{currentYear}
            
          div.column-left-salud.col-md-9.col-sm-12.col-xs-12

            each item in locals.data.noticiaFeb
              div.col-md-4.col-sm-12.col-xs-12.nopadding.salud-preview-box
                a(href="/salud-al-dia/"+item.slug target="_blank")
                  .salud-preview-media
                    //- - if((item.urlVideoYoutube != '')&& (item.urlVideoVimeo != ''))
                      .box-news-icon-play
                    img(src=item.imgPromo.secure_url alt=item.title)
                  .salud-preview-box-content
                    span.salud-preview-box-fecha #{moment.locale('es')&&moment(item.createdAt).format("LL")}
                    h6 #{item.title}
                    .preview-box-content-tex
                      p  #{item.description}
      //  NOTICIAS Enero
      - if(locals.data.noticiaEn != '')
        div.salud-box
          div.column-right-salud.col-md-3.cold-sm-3.col-xs-12.nopadding
            
            h4#month-6 Junio
            span #{currentYear}
            
          div.column-left-salud.col-md-9.col-sm-12.col-xs-12

            each item in locals.data.noticiaEn
              div.col-md-4.col-sm-12.col-xs-12.nopadding.salud-preview-box
                a(href="/salud-al-dia/"+item.slug target="_blank")
                  .salud-preview-media
                    //- - if((item.urlVideoYoutube != '')&& (item.urlVideoVimeo != ''))
                      .box-news-icon-play
                    img(src=item.imgPromo.secure_url alt=item.title)
                  .salud-preview-box-content
                    span.salud-preview-box-fecha #{moment.locale('es')&&moment(item.createdAt).format("LL")}
                    h6 #{item.title}
                    .preview-box-content-tex
                      p  #{item.description}
