extends ../layouts/default
block content
	- var currentPage = parseInt(locals.data.planPaciente.currentPage);
	- var nextPage = currentPage+1;
	- var previousPage = currentPage-1;
	section#top-banner.commercial
		-if(plan != '')
			.bannerComercial
				.bannerComercial-text
					h1 #{plan[0].title}
					span #{plan[0].description}
				img(src=plan[0].imgBanner.secure_url alt=plan[0].title).img-responsive
	//- SECTION CONTENT PLAN
	section#wrapper-news
		div.col-md-8.col-sm-12.col-xs-12.box-news-wrapper
			-if(locals.data.planPaciente.results)
				each item in locals.data.planPaciente.results
					.box-news

						a(href='/plan-paciente/'+item.slug target="_blank")
							.box-news-media-wrapper.col-md-5.col-sm-5.col-xs-5.nopadding
								- if(item.urlVideoYoutube != '')
									.box-news-icon-play
										i(class="fa fa-play-circle fa-5x")
								- if(item.imgPromo.secure_url)
									img(src=item.imgPromo.secure_url alt=item.title).img-responsive
							.box-news-content.col-md-7.col-sm-7.col-xs-7.nopadding
								.box-news-top
									h3 #{item.title}
									span #{moment.locale('es')&&moment(item.createdAt).format("LL")}

								.box-news-preview-content
									!= item.description

				.col-plan.pages-nav
					if(locals.data.planPaciente.previous)
						a(href="?page="+previousPage).previous  Anterior <i class="fa fa-arrow-left" aria-hidden="true"></i>
					if(locals.data.planPaciente.next)
						a(href="?page="+nextPage).next Siguiente
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
		div.col-md-3.col-sm-12.col-xs-12.right
			.box-old-wrapper
				h3 NOTICIAS ANTERIORES
				- if(locals.data.planPacienteAntiguas.results != ''){
					each item in locals.data.planPacienteAntiguas.results
						.box-old-news
							a(href='/plan-paciente/'+item.slug target="_blank")
								.box-old-news-title
									h4 #{item.title}
									span  #{moment.locale('es')&&moment(item.createdAt).format("LL")}
								.box-old-news-content
										p #{item.description}
				- }else{
						span No hay noticias anteriores
				- }
